.navbar {
	margin-bottom: 0px;
}

.logo {
	margin-left: 12px;
	margin-top: -5px;
	width: 30px;
}

.title {
	display: inline-block;
	margin-left: 7px;
	margin-top: 14px;
	font-size: 1.22em;
	letter-spacing: 0.18em;
}

.hero-image-container {
	height: 400px;
  background: url(../img/hero.png) no-repeat center center;
  background-size: cover;
}

.coming-soon {
	text-align: center;
	background-color: #FDE5A1;
	color: black;
	padding: 11px;
	margin: 0;
}

.intro-section {
	background-color: #F3F6FB;
	padding-bottom: 0px;

	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.intro-heading {
	margin-top: 10px;
	margin-bottom: 30px;
}

.intro-divider {
	margin-left: 0;
}

.form-container-wrapper {
	background-color: #F3F6FB;
}

.intro-form {
	padding-top: 15%;
	padding-bottom: 3%;
}

.content-section-a {
	background-color: white;
	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.content-section-b {
	background-color: #F3F6FB;

	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.section-heading {
	margin-top: 0;
}

.img-responsive {
	border: 1px solid #BBB;
	border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6e6e6e;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6e6e6e;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6e6e6e;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #6e6e6e;
  opacity: 1;
}

#mc_embed_signup form {
	margin-top: -66px;
	padding: 15px;
	background: #fff;
	border: 1px solid #BABABA;
	border-radius: 5px;
}

#mc_embed_signup label {
	color: #222;
}

#mc_embed_signup .mc-field-group {
	width: 100%;
	color: black;
	font-size: 0.9em;
}

#mc_embed_signup > input {
	color: black;
}

.btn-orange {
	background-color: #FF6F00;
}

.btn-orange:hover {
	background-color: #FF8F00;
}

.book-cover {
	height: 380px;
	border: 1px solid black;
	border-radius: 1px;
	/*text-align: center;*/
	margin: 0 auto;
}

.banner h2 {
  /*text-shadow: 3px 3px 3px rgba(0,0,0,0.8);*/
}

.banner {
	position: relative;
	background: #16A;
}

.banner:before {
	content: "";
	background: url(../img/space-tile.png) repeat 0 10%;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
}