.navbar {
	margin-bottom: 0px;
}

.logo {
	margin-left: 12px;
	margin-top: -5px;
	width: 30px;
}

.title {
	display: inline-block;
	margin-left: 7px;
	margin-top: 14px;
	font-size: 1.22em;
	letter-spacing: 0.18em;
}

.hero-image-container {
	height: 400px;
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  background: url(../img/hero.png) no-repeat center center;
  background-size: cover;
}

.intro-section {
	background-color: #F3F6FB;
	padding-bottom: 0px;

	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.intro-header {
	color: black;
	padding-top: 40px;
	text-align: left;
	font-size: 1.2em;
	/*text-shadow: 2px 2px 3px rgba(0,0,0,0.6)*/
}

.intro-divider {
	margin-left: 0;
}

.form-container-wrapper {
	background-color: #F3F6FB;
}

.intro-form {
	padding-top: 14%;
	padding-bottom: 2%;
}

.content-section-a {
	background-color: white;
	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.content-section-b {
	background-color: #F3F6FB;

	color: black;
	text-align: left;
	border: none;
	outline: none;
}

.img-responsive {
	border: 1px solid #BBB;
	border-radius: 5px;
}

#mc_embed_signup form {
	margin-top: -66px;
	padding: 15px;
	background: #fff;
	border: 1px solid #BABABA;
	border-radius: 5px;
}

#mc_embed_signup label {
	color: #222;
}

#mc_embed_signup .mc-field-group {
	width: 100%;
	color: black;
	font-size: 0.9em;
}

#mc_embed_signup > input {
	color: black;
}

.btn-orange {
	background-color: #FF6F00;
}

.btn-orange:hover {
	background-color: #FF8F00;
}
